@font-face{
    font-family: 'GenshinFont'; /* 自定义字体的名称 */
    src: url('Genshin.ttf') format('truetype'); /* 字体文件的路径和格式 */
}
*{
    
    font-family: 'GenshinFont',-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
}


header{
    display: flex;
    position:fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter:blur(50px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
    flex-wrap: wrap;
}



#day{
    z-index: 3;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    width: 110px;
    height: 60px;
    position: fixed;
    right: 5px;
    bottom: 10px;
    box-shadow: -2px 2px 5px 0px #777B80;
}

.ph{
    font-size:1rem;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ph:hover{
    animation: fontaction 0.3s;
    color: rgb(255, 255, 200);
}
.wj{
    font-size:1rem;
    font-weight: 400;
    color:yellow;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.wj:hover{
    animation: fontaction 0.3s;
    color:rgb(230, 230, 0);
}
.db{
    font-size:1rem;
    font-weight: 400;
    color:chartreuse;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.db:hover{
    animation: fontaction 0.3s;
    color:rgb(0, 255, 51);
}

.ct{
    font-size:1rem;
    font-weight: 400;
    color:rgb(255, 0, 0);
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ct:hover{
    animation: fontaction 0.3s;
    color:rgb(255, 161, 161);
}
@keyframes fontaction{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}









*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: #000000d6;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    scrollbar-width: none;
}


















.co{
    align-self: center;
    font-weight: 800;
    color:aqua;
    font-size:64px;
    line-height: 50vh;
    z-index: 2;
    text-shadow: 0px 0px 1px rgb(255, 0, 238), 0 0 1em rgb(0, 106, 255), 0 0 0.2em rgb(0, 136, 255);
}
.block{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2; */
    
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    align-self: center;
    text-align: start;

    margin: 10px 20px;
    padding: 10px 20px;

    /* min-width: 70vw;
    max-width: 90vw;
    min-height: 50px; */
    background-color: #00000076;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(255, 104, 104);
    border-style:solid;
    
    font-family: Noto Sans SC,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif,inherit;
    letter-spacing: 1px;
}









.fo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
































@media screen and (max-width:900px) {
    .t1{
        font-weight: 540;
        font-size: 14px;
    }
    .bg1{
        position:fixed;
        width: 100vw;
        height: 100vh;
        /* background-image: url("https://act-webstatic.mihoyo.com/event-static/2024/06/24/570fc67f4b580da77f9af206eb3bc0a5_7858946434453008095.jpg?x-oss-process=image/quality,Q_80/resize,m_lfit,s_700"); */
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }
}
@media screen and (min-width:901px) {
    .t1{
        font-weight: 500;
        font-size: 1.1rem;
    }
    .bg1{
        position:fixed;
        width: 100vw;
        height: 100vh;
        /* background-image: url("https://act-webstatic.mihoyo.com/event-static/2024/06/24/94fe58803161e06dd1e2fcea8ba56a41_8214787202754590749.png?x-oss-process=image/quality,Q_80/resize,m_lfit,s_700"); */
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }
}