*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    /* background-color: #000000d6; */
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    scrollbar-width: none;
}





header{
    display: flex;
    position:fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter:blur(50px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
    flex-wrap: wrap;
}

.ph{
    font-size:1rem;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ph:hover{
    animation: fontaction 0.3s;
    color: rgb(255, 255, 200);
}
.wj{
    font-size:1rem;
    font-weight: 400;
    color:yellow;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.wj:hover{
    animation: fontaction 0.3s;
    color:rgb(230, 230, 0);
}
.db{
    font-size:1rem;
    font-weight: 400;
    color:chartreuse;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.db:hover{
    animation: fontaction 0.3s;
    color:rgb(0, 255, 51);
}

.ct{
    font-size:1rem;
    font-weight: 400;
    color:rgb(255, 0, 0);
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ct:hover{
    animation: fontaction 0.3s;
    color:rgb(255, 161, 161);
}
@keyframes fontaction{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}















h1{
    font-size: 2rem;
    height: 80vh;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}