*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    /* background-color: #000000d6; */
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    scrollbar-width: none;
}






#day{
    z-index: 3;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    width: 110px;
    height: 60px;
    position: fixed;
    right: 5px;
    bottom: 10px;
    box-shadow: -2px 2px 5px 0px #777B80;
}


h1{
    /* margin-top: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.t1{
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    align-self: center;
    text-align: start;

    margin: 10px 20px;
    padding: 10px 20px;

    min-width: 70vw;
    max-width: 80vw;
    min-height: 50px;
    background-color: #ffffff8f;
    backdrop-filter: blur(50px);
    box-shadow: 0 5px 15px rgba(255, 169, 248, 0.333);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    
    font-family: Noto Sans SC,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif,inherit;
    letter-spacing: 1px;
    
    z-index: 1;


    /* background-color: rgba(255, 255, 255, 0.603); 半透明背景色   */
    border: 1px solid #ccc; /* 边框 */  
    /* border-radius: 10px; 边框圆角   */
    /* backdrop-filter: blur(8px); 毛玻璃效果   */
    transition: background-color 0.3s, box-shadow 0.3s; /* 过渡效果 */  
    
}

.t1:hover{
    
  background-color: rgba(255, 255, 255, 0.7); /* 鼠标悬停时的背景色，带有淡淡的紫色 */  
  box-shadow: 0 0 10px rgba(255, 0, 225, 0.595); /* 淡淡的紫色幽光效果 */  
}





.op{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    text-align: center;
}
.op>h1{
    height: 100vh;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px rgb(255, 0, 238), 0 0 1em rgb(0, 106, 255), 0 0 0.2em rgb(0, 136, 255);
}






img{
    max-width: 95%;
    max-height: 70vh;
}


hr{
    border-style: solid;
    border-color: white;
}




pre{
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace !important;
    /* line-height: 20px; */
    color: #BBBBBB;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    border-color: rgb(220, 220, 220);
    background-color: #1E1E1E;
    /* text-wrap: wrap; */
    overflow-x: scroll;

    max-width: 90%;
    max-height: 80vh;
}

pre::-webkit-scrollbar{
    background-color: #ffffff;
    width: 5px;
    height: 5px;
}
pre::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 10px;
}




ol{
    margin: 5%;
    max-width: 95%;
}

ul{
    margin: 5%;
    max-width: 95%;
}



code{
    background-color: #0c0c0c;
    color: rgb(198, 255, 162);
    border-radius: 3px;
    padding: 3px;
    line-height: 1.2rem;
}


.__code{
    background-color: #1f1f1f;
    border-radius: 0px;
    padding: 0 3px;
}








header{
    display: flex;
    position:fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter:blur(50px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
    flex-wrap: wrap;
}

.ph{
    font-size:1rem;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* cursor: pointer; */
}
.ph:hover{
    animation: fontaction 0.3s;
    color: rgb(255, 255, 200);
}
.wj{
    font-size:1rem;
    font-weight: 400;
    color:yellow;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* cursor: pointer; */
}
.wj:hover{
    animation: fontaction 0.3s;
    color:rgb(230, 230, 0);
}
.db{
    font-size:1rem;
    font-weight: 400;
    color:chartreuse;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* cursor: pointer; */
}
.db:hover{
    animation: fontaction 0.3s;
    color:rgb(0, 255, 51);
}

.ct{
    font-size:1rem;
    font-weight: 400;
    color:rgb(255, 0, 0);
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* cursor: pointer; */
}
.ct:hover{
    animation: fontaction 0.3s;
    color:rgb(255, 161, 161);
}
@keyframes fontaction{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}























.bg1{
    z-index: -1;
}




@media screen and (max-width:900px) {
    .ph{
        font-size: 14px;
        line-height: 16px;
    }
    .wj{
        font-size: 14px;
        line-height: 16px;
    }
    .db{
        font-size: 14px;
        line-height: 16px;
    }
    .t1{
        font-weight: 540;
        font-size: 14px;
        line-height: 1.3rem;
    }
    .bg1{
        position:fixed;
        width: 100vw;
        height: 100vh;
        /* background-image: url("https://act-webstatic.mihoyo.com/event-static/2024/06/24/570fc67f4b580da77f9af206eb3bc0a5_7858946434453008095.jpg?x-oss-process=image/quality,Q_80/resize,m_lfit,s_700"); */
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }
}
@media screen and (min-width:901px) {
    .t1{
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    .bg1{
        position:fixed;
        width: 100vw;
        height: 100vh;
        /* background-image: url("https://act-webstatic.mihoyo.com/event-static/2024/06/24/94fe58803161e06dd1e2fcea8ba56a41_8214787202754590749.png?x-oss-process=image/quality,Q_80/resize,m_lfit,s_700"); */
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }
}



















/*此为笔者网站较为个性化的鼠标指针样式，可结合个人需要自行修改*/
body {
	cursor: url(Cursor.cur), default;
}
select{
	cursor: url(Cursor.cur), pointer;
}
button,a:hover{
	cursor: url(Cursor.cur), pointer;
}
input{
	cursor:url(Cursor.cur), text;	
}
textarea,input:focus{
	cursor:url(Cursor.cur), text;	
}
code{
	cursor: url(Cursor.cur), default;	
}
pre>code{
	cursor: url(Cursor.cur), default;
}